<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>mvc</display-name>
	<welcome-file-list>
		<welcome-file>/WEB-INF/views/index.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>ClassInfoServlet</servlet-name>
		<servlet-class>com.mvc.controller.ClassInfoServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ClassInfoServlet</servlet-name>
		<url-pattern>/class-info/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CalcServlet</servlet-name>
		<servlet-class>com.mvc.controller.CalcServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CalcServlet</servlet-name>
		<url-pattern>/calc/*</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>LottoServlet</servlet-name>
		<servlet-class>com.mvc.controller.LottoServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LottoServlet</servlet-name>
		<url-pattern>/lotto/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>FindServlet</servlet-name>
		<servlet-class>com.mvc.controller.FindServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>FindServlet</servlet-name>
		<url-pattern>/find/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UserInfoServlet</servlet-name>
		<servlet-class>com.mvc.controller.UserInfoServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UserInfoServlet</servlet-name>
		<url-pattern>/user-info/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>MovieInfoServlet</servlet-name>
		<servlet-class>com.mvc.controller.MovieInfoServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
	<servlet-name>MovieInfoServlet</servlet-name>
	<url-pattern>/movie-info/*</url-pattern>
	</servlet-mapping>
</web-app>